*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.modal-container{
  width: 100%;
  height: 100vh;
  display:flex;
  justify-content: center;
  align-items:center;
  background-color:rgba(0,0,0,.5);
  position: fixed;
  z-index: 3000;
  
}

.modal{
  background-color:rgb(255, 255, 255);
  border-radius: 5px;
  padding:50px 60px;
  height:600px;
  width:1300px;
  max-width:100%;
  display: flex;
  justify-content:center;
  align-items:center;
  flex-direction:column;
  text-align:center; 
  position: relative;
}

.buttonconf{
  background-color:#008332f3;
  border-radius: 7px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
  color: #fff;
  cursor: pointer;
  padding:5px 15px;
  transition: transform 0.6s;
  margin-right:-92%;
  margin-top:43%;
  position: absolute;
  

}

.accept{
  /* display: flex; */
  white-space: nowrap;
  font-size: 16px;
  margin-left: -78.7%;
  margin-top:44.2%;
  position: absolute;
  
}


.modal h1{
  margin-top:-10%;
  
}    

.accept label{
  
  margin-left: 1%;
}

.modal p{
  margin-top:8%;
  font-size: 18px;
}


@media (max-width:1310px) {
  .modal{
      /* font-size:90%; */
      width:95%;	
      height:640px;
  }

  .modal h1{
      font-size:25px;
      margin-top: -50px;
  }

  .modal p{
      font-size:15px;
      margin-top: 25px;
      width:100%;
  }

  .buttonconf{
      margin-top: 600px;
      margin-left: -59px;
      font-size: 11px;
  }

  .accept{
      margin-top: 620px;
      margin-right: -120px;
      font-size:80%;
  }

  


}
  



.buttonconf:hover{
  transform:scale(1.04);
}
